canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#info {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 600px;
    color: #ffffff;
}

body{
    background: #080808;
}

a:link { text-decoration: none; }
a:hover { text-decoration: underline;  }